[heater_bed]
heater_pin: PH5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK6
control: watermark
#65°C mit lüfter
#pid_Kp: 65.251
#pid_Ki: 1.713
#pid_Kd: 621.520
#100°C ohne Lüfter Enclosure
#pid_Kp: 69.686
#pid_Ki: 0.631
#pid_Kd: 1923.322
min_temp: 0
max_temp: 130